body {
    background-color: white;
}

.cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 340px;
    justify-content: center;
    margin: auto;

    img {
        width: 330px;
        height: 330px;
    }
}